In [2]:
sal=25000
exp=8
if exp>=5:
    bon=sal*0.05
    total_salary=sal+bon
    net_bonous=total_salary-sal
    print(total_salary)
    print(net_bonous)
else:
    print("no bonous")

26250.0
1250.0

In [2]:
sal=int(input("Enter your salary"))
exp=int(input("Enter your experience"))
if exp>=5:
    bon=sal*0.05
    total_salary=sal+bon
    net_bonous=total_salary-sal
    print(total_salary)
    print(net_bonous)
else:
    print("No Bonous")

Enter your salary64000
Enter your experience6
67200.0
3200.0

In [5]:
l=6
b=6
if l==b:
    print("square")
else:
    print("not square")

square

In [8]:
L=int(input("Enter the length"))
B=int(input("Enter the Breadth"))
if L==B:
    print("it is square")
else:
    print("it is not square")

Enter the length12
Enter the Breadth15
it is not square

In [12]:
a=int(input("Enter the 1st value"))
b=int(input("Ente the 2nd value"))
if a>b:
    print(a)
else:
    print(b)

Enter the 1st value9
Ente the 2nd value55
55

In [34]:
a=int(input("Enter the 1st value"))
b=int(input("Enter the 2nd value"))
c=int(input("Enter the 3rd value"))

if a>b&a>c:
    print(a)
elif b>a&b>c:
    print(b)
elif c>a&c>b:
    print(c)
else:
    print("invalid")

Enter the 1st value700
Enter the 2nd value800
Enter the 3rd value900
invalid

In [ ]:
a=int(input("enter 1st value"))
b=int(input("enter 2nd value"))
c=int(input("enter 3rd value"))

if a>b and a>c:
    print(a)
elif b>a and b>c:
    print(b)
elif c>a and c>b:
    print(c)
else:
    print("invalid")

In [18]:
q=int(input("enter the quantity"))
cost=q*100
if cost>1000:
    total_cost=cost*1.10
    dis=total_cost-cost
    total_amount=cost-dis
    print(cost)
    print(total_amount)
    print(dis)
else:
    print("Discount Nahi Milega Bhai")

enter the quantity11
1100
990.0
110.0

In [29]:
n=int(input("enter your marks"))
if n<25:
    print("F")
elif n>=25 and n<45:
    print("E")
elif n>=45 and n<50:
    print("D")
elif n>=50 and n<60:
    print("C")
elif n>=60 and n<80:
    print("B")
else:
    print("A")

enter your marks25
E

In [38]:
man1=int(input("Enter your Age"))
man2=int(input("Enter Your Age"))
man3=int(input("Enter Your Age"))
if man1>man2 and man1>man3:
    print(man1)
elif man2>man1 and man2>man3:
    print(man2)
elif man3>man1 and man3>man2:
    print(man3)
else:
    print("All men's are Same Age")

Enter your Age40
Enter Your Age60
Enter Your Age50
60

In [44]:
man1=int(input("Enter your Age"))
man2=int(input("Enter your Age"))
man3=int(input("Enter your Age"))
if man1<man2 and man1<man3:
    print(man1)
elif man2<man1 and man2<man3:
    print(man2)
elif man3<man1 and man3<man2:
    print(man3)
else:
    print("All men's are same age")

Enter your Age70
Enter your Age50
Enter your Age40
40

In [60]:
clh=int(input("number of class held"))
cla=int(input("number of class attend"))
per_cl=(cla/clh)*100
per_attend=clh*0.75
if per_cl>=per_attend:
    print(per_cl)
    print("Allowed in Exam")
else:
    print("Not Allowed in Exam")

number of class held100
number of class attend74
Not Allowed in Exam